<!-- powered -->
<div class="row" id="powered">
	<div class="col-md-6 col-xs-12 text-center">
		<a href="http://www.alexcarrega.com" target="_blank" data-tooltip title="{{ 'Sviluppato da :cmp'|_({ cmp: 'AxC' }) }}">
			<img class="img-rounded mrg-t-30px" src="http://www.alexcarrega.com/images/logo.png"
				alt="{{ 'Sviluppato da :cmp'|_({ cmp: 'AxC' }) }}" /></a>
	</div><!-- /.col-md-6.col-xs-12 -->
	<div class="col-md-6 col-xs-12 text-center">
		<a href="http://www.pc-repair.it" target="_blank" data-tooltip title="{{ 'In collaborazione con :cmp'|_({ cmp: 'Pc-Repair' }) }}">
			<img class="img-rounded mrg-t-30px" src="http://www.pc-repair.it/images/logo.png"
				alt="{{ 'In collaborazione con :cmp'|_({ cmp: 'Pc-Repair' }) }}" /></a>
	</div><!-- /.col-md-6.col-xs-12 -->
</div><!-- /.row#powered -->
<!-- /powered -->